@import 'tailwindcss';

html,
body,
#root {
  font-family: 'Poppins', sans-serif;
}

html.theme-switching *,
html.theme-switching *::before,
html.theme-switching *::after {
  transition: none !important;
}

.stable-scrollbar-gutter {
  scrollbar-gutter: stable;
}

/* index.css */
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 30s linear infinite;
  display: flex;
  width: max-content;
}

.animate-ticker:hover {
  animation-play-state: paused;
}
